extends layout

block content
  div.BVTweeviewSampleDisplay
    //h1= title
    if error == "not_provisioned"
        p This client does not have Tweeviews set up. Please goto /clients to provision a new account.
    else
        p Hash tag is #{hashTag}, client is #{clientName}, apikey is #{apiKey}
    div.BVTweeviewsSummary(data-id="#{hashTag}")
    div.BVTweeviews(data-id="#{hashTag}")
    script.
      $(".BVTweeviewsSummary").tweeviewsSummary('#{apiKey}', { staging: true });
      $(".BVTweeviews").tweeviews('#{apiKey}', { staging: true });
      $(document).ready(function() { $(".fancybox").fancybox(); });